{% with brand='Parkr' %}
    <html lang="en">

    <head>
        <title>{{ brand }}</title>

        {% include 'meta.html' %}
        {% include 'css.html' %}
        {% block css %}{% endblock %}
    </head>


    <body {% block body-class %}{% endblock %}>

    {% block nav %}
        {% include 'nav.html' with brand=brand %}
    {% endblock %}

    {% block content %}{% endblock %}

    {#{% include 'footer.html' %}#}
    {% include 'js.html' %}

    </body>

    </html>
{% endwith %}