{% extends 'base.html' %}

{% load staticfiles %}

{% block body-class %}
    class="index-page"
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <section id="banner" class="container-fluid">
        <div class="container-fluid text-center vertical-center">
            <img src="{% static 'img/logo2.png' %}">
        </div>
    </section>
    <section id="intro" class="container-fluid">
        <div class="row">
            <div class="col-md-6 left">
                <div class="container-fluid text-center vertical-center">
                    <a href="#" class="btn parker" data-toggle="modal" data-target="#id_modal">
                        <span class="font-m">DO YOU NEED A PARK?</span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 right">
                <div class="container-fluid text-center vertical-center">
                    <a href="#" class="btn parkee" data-toggle="modal" data-target="#id_modal">
                        <span class="font-m">DO HAVE SPACE?</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="why" class="container-fluid">
        <div class="container-fluid text-center vertical-center">
            <div class="line1 container-fluid">
                <h1 class="font-m">why parkr?</h1>
            </div>

            <div class="line2 container-fluid">
                <p class="font-js"><b>Parking shouldn't be a nightmare.</b></p>
                <p class="font-js">It's expensive, unpredictable and a waste of time and fuel.</p>
            </div>

            <div class="line3 container-fluid">
                <p class="font-js"><b>Parkr connects you with convenient, affordable parking when you need it.
                    You can plan to park in advance, or book in real time. It's that simple.</b></p>
            </div>
        </div>
    </section>
    <section id="how" class="container-fluid">
        <div class="container-fluid text-center vertical-center">
            <div class="block1 container-fluid">
                <h1 class="font-m">So, how does it work?</h1>
            </div>
            <div class="block2 container-fluid">
                <div class="line1 container-fluid">
                    <div class="col-md-12 col-lg-2 col-lg-offset-1">
                        <img src="{% static 'img/icon1.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon2.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon3.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon4.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon5.png' %}">
                    </div>
                </div>
                <div class="line2 container-fluid">
                    <div class="col-md-12 col-lg-2 col-lg-offset-1">
                        <span class="font-js">Simon is sick of having to look for a park and paying ridiculous rates</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Simon visits parkr and creates an account</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Simon searches for a parking space in the area he needs to park</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Simon books his ideal parking space and pays a greate rate securely online</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Simon is guided by parkr to his parking space</span>
                    </div>
                </div>
                <div class="line3 container-fluid">
                    <h4 class="font-m"><b>Simon has saved time and money and is stress-free.</b></h4>
                    <h2 class="font-m">Simon is smart. Be like Simon.</h2>
                </div>
            </div>
            <div class="block3 container-fluid">
                <div class="line1 container-fluid">
                    <div class="col-md-12 col-lg-2 col-lg-offset-1">
                        <img src="{% static 'img/icon6.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon7.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon8.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon9.png' %}">
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <img src="{% static 'img/icon10.png' %}">
                    </div>
                </div>
                <div class="line2 container-fluid">
                    <div class="col-md-12 col-lg-2 col-lg-offset-1">
                        <span class="font-js">Sarah has space in her garage and driveway that isn't used often</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Sarah visits parkr and creates an account</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Sarah uploads some details of her space and names her price</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Another park member books Sarah's space</span>
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <span class="font-js">Sarah gets paid instantly</span>
                    </div>
                </div>
                <div class="line3 container-fluid">
                    <h4 class="font-m"><b>Simon makes easy money just by rent space on parkr.</b></h4>
                    <h2 class="font-m">Sarah is smart. Be like Sarah.</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="landing" class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 container-fluid text-center vertical-center">
            <div class="col-sm-6">
                <a href="#" class="btn parker" data-toggle="modal" data-target="#id_modal">
                    <p class="font-m">I am smart like Simon. Sign me up!</p>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn parkee" data-toggle="modal" data-target="#id_modal">
                    <p class="font-m">I am smart like Sarah. Sign me up!</p>
                </a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container-fluid text-center vertical-center">
            <span class="font-m">Copyright @ parkr</span>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="id_modal" tabindex="-1" role="dialog" aria-labelledby="id_modal_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="id_modal_label">Sign up</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid no-padding">
                        <form id="landing-form" method="post" action="">
                            {% csrf_token %}
                            {% include 'form-field.html' with field=form.email label='before' class='col-sm-12' %}
                            {% include 'form-field.html' with field=form.suburb label='before' class='col-sm-12' %}
                            {% include 'form-field.html' with field=form.price label='before' class='col-sm-12' %}
                            {% include 'form-field.html' with field=form.role %}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" form="landing-form" value="Submit">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="id_modal_thankyou" tabindex="-1" role="dialog"
         aria-labelledby="id_modal_thankyou_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="id_modal_thankyou_label">Sign up complete</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid no-padding">
                        <h4>THANK YOU for choose to join the community of</h4>
                        <img src="{% static 'img/logo2.png' %}">
                        <p>We are stll in development at the moment, but you will be the first to know when we launch!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            {% if modal == 'landing' %}
                $('#id_modal').modal('show');
            {% elif modal == 'thank you' %}
                $('#id_modal_thankyou').modal('show');
            {% endif %}
        });

        $('.parkee').click(function () {
            $('#id_role').val('parkee');
            $('label[for="id_price"]').text('Desired rent price / day');
        });

        $('.parker').click(function () {
            $('#id_role').val('parker');
            $('label[for="id_price"]').text('Desired parking price / day');
        });
    </script>
{% endblock %}