
.navbar
  margin-bottom: 0

  .navbar-header
    height: 100%

  .navbar-collapse
    background: #f7f7f7

  .container-fluid
    height: 80px
    padding-top: 15px

  .navbar-brand
    //margin-left: 15px !important
    font-size: 36px
    font-weight: 600
    color: darkorange

    &:hover
      color: orange

  .navbar-right
    //margin-right: 15px
    a
      color: darkorange !important

section
  &.banner
    height: 150px
    background: #14DBFE

    .container-fluid
      img
        height: 70%

  &.intro
    height: 600px
    color: white

    .left
      background: lightgoldenrodyellow
      height: 100%

    .right
      height: 100%
      background: lightpink

  &.map
    padding-top: 80px
    #map-container
      height: 100%
      width: 100%

.no-padding
  margin-right: 0
  margin-left: 0

  > [class*='col-']
    padding-right: 0
    padding-left: 0

.no-border-radius
  border-radius: 0

.no-border
  border-width: 0

.vertical-center
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.icon-labels
  color: black
  font-family: "Lucida Grande", "Arial", sans-serif
  font-size: 10px
  text-align: center
  width: 70px
  white-space: nowrap

