$xxs: "(max-width: 480px)"
$xs: "(max-width: 767px)"
$sm: "(max-width: 991px)"
$md: "(max-width: 1199px)"

.navbar
  margin-bottom: 0

  .navbar-header
    height: 100%

  .navbar-collapse
    background: #f7f7f7

  .container-fluid
    height: 80px
    padding-top: 15px

  .navbar-brand
    font-size: 36px
    font-weight: 600
    color: darkorange

    &:hover
      color: orange

  .navbar-right
    a
      color: darkorange !important

section
  &#banner
    background: #09E0FF
    height: 150px
    @media #{$md}
      height: 100px

    .container-fluid
      img
        height: 70%
        max-width: 100%
        max-height: 70%

  &#intro

    color: white

    [class*='col-']
      background-size: cover
      height: 600px
      @media #{$md}
        height: 300px

      &.left
        background-image: url('../img/left.png')

      &.right
        background-image: url('../img/right.png')

      .container-fluid
        max-width: 80%
        display: block

        a
          text-decoration: none
          color: white
          white-space: pre-line
          border-width: 5px

          &:hover
            border: 5px solid #09E0FF

          &:focus
            outline: none !important

          span
            font-size: 70px
            @media #{$md}
              font-size: 40px
            @media #{$xxs}
              font-size: 30px

  &#why
    height: 400px
    @media #{$xxs}
      height: 500px

    .container-fluid
      max-width: 70%
      @media #{$sm}
        max-width: 100%

      .line1
        margin-bottom: 20px
        h1
          font-size: 40px
          font-weight: 600

      .line2
        margin-bottom: 20px

  &#how
    height: 1200px
    background: #09E0FF
    @media #{$md}
      display: none

    .block1
      margin-bottom: 20px

    .block2, .block3
      margin-bottom: 30px
      .line1
        height: 220px
        margin-bottom: 20px
        max-width: 80%

        [class*='col-']
          height: 100%
          position: relative

          img
            width: 70%
            max-height: 80%
            position: absolute
            bottom: 0
            left: 15%

      .line2
        max-width: 80%
        margin-bottom: 30px
        span
          font-weight: 600

      .line3
        span
          font-size: 24px

  &#landing
    height: 400px
    @media #{$md}
      display: none
    @media #{$xs}
      height: 500px

    .container-fluid
      [class*='col-']
        @media #{$sm}
          margin: 10px 0 10px

        a
          width: 200px
          height: 200px
          border-radius: 100px
          border: 10px solid #09E0FF
          color: #000
          white-space: pre-wrap

          &:hover
            text-decoration: none
            background: lightcyan

          &:focus
            outline: none !important

          p
            font-size: 20px

  &.map
    padding-top: 80px
    #map-container
      height: 100%

      width: 100%

footer
  height: 60px
  background: #09E0FF


#id_modal_thankyou
  .modal-content
    background: #09E0FF

    .line1
      margin-bottom: 20px
      h3
        color: #FFF
        margin: 0
      img
        max-width: 100%
        max-height: 100px

    .line2
      margin-bottom: 20px

    .line3
      ul
        padding-left: 0
        li
          margin: 5px 0 5px
          display: inline-block
          img
            max-height: 30px
            max-width: 100%



.no-padding
  padding-right: 0
  padding-left: 0

  > [class*='col-']
    padding-right: 0
    padding-left: 0

.no-border-radius
  border-radius: 0

.no-border
  border-width: 0

.vertical-center
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.icon-labels
  color: black
  font-family: "Lucida Grande", "Arial", sans-serif
  font-size: 10px
  text-align: center
  width: 70px
  white-space: nowrap

.font-js
  font-family: Josefin Sans
  font-style: normal
  font-variant: normal
  font-size: 18px
  font-weight: 500

.font-m
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif