.navbar {
  margin-bottom: 0; }
  .navbar .navbar-header {
    height: 100%; }
  .navbar .navbar-collapse {
    background: #f7f7f7; }
  .navbar .container-fluid {
    height: 80px;
    padding-top: 15px; }
  .navbar .navbar-brand {
    font-size: 36px;
    font-weight: 600;
    color: darkorange; }
    .navbar .navbar-brand:hover {
      color: orange; }
  .navbar .navbar-right a {
    color: darkorange !important; }

section#banner {
  background: #09E0FF;
  height: 150px; }
  @media (max-width: 1199px) {
    section#banner {
      height: 100px; } }
  section#banner .container-fluid img {
    height: 70%;
    max-width: 100%;
    max-height: 70%; }
section#intro {
  color: white; }
  section#intro [class*='col-'] {
    background-size: cover;
    height: 600px; }
    @media (max-width: 1199px) {
      section#intro [class*='col-'] {
        height: 300px; } }
    section#intro [class*='col-'].left {
      background-image: url("../img/left.png"); }
    section#intro [class*='col-'].right {
      background-image: url("../img/right.png"); }
    section#intro [class*='col-'] .container-fluid {
      max-width: 80%;
      display: block; }
      section#intro [class*='col-'] .container-fluid a {
        text-decoration: none;
        color: white;
        white-space: pre-line;
        border-width: 5px; }
        section#intro [class*='col-'] .container-fluid a:hover {
          border: 5px solid #09E0FF; }
        section#intro [class*='col-'] .container-fluid a:focus {
          outline: none !important; }
        section#intro [class*='col-'] .container-fluid a span {
          font-size: 70px; }
          @media (max-width: 1199px) {
            section#intro [class*='col-'] .container-fluid a span {
              font-size: 40px; } }
          @media (max-width: 480px) {
            section#intro [class*='col-'] .container-fluid a span {
              font-size: 30px; } }
section#why {
  height: 400px; }
  @media (max-width: 480px) {
    section#why {
      height: 500px; } }
  section#why .container-fluid {
    max-width: 70%; }
    @media (max-width: 991px) {
      section#why .container-fluid {
        max-width: 100%; } }
    section#why .container-fluid .line1 {
      margin-bottom: 20px; }
      section#why .container-fluid .line1 h1 {
        font-size: 40px;
        font-weight: 600; }
    section#why .container-fluid .line2 {
      margin-bottom: 20px; }
section#how {
  height: 1200px;
  background: #09E0FF; }
  @media (max-width: 1199px) {
    section#how {
      display: none; } }
  section#how .block1 {
    margin-bottom: 20px; }
  section#how .block2, section#how .block3 {
    margin-bottom: 30px; }
    section#how .block2 .line1, section#how .block3 .line1 {
      height: 220px;
      margin-bottom: 20px;
      max-width: 80%; }
      section#how .block2 .line1 [class*='col-'], section#how .block3 .line1 [class*='col-'] {
        height: 100%;
        position: relative; }
        section#how .block2 .line1 [class*='col-'] img, section#how .block3 .line1 [class*='col-'] img {
          width: 70%;
          max-height: 80%;
          position: absolute;
          bottom: 0;
          left: 15%; }
    section#how .block2 .line2, section#how .block3 .line2 {
      max-width: 80%;
      margin-bottom: 30px; }
      section#how .block2 .line2 span, section#how .block3 .line2 span {
        font-weight: 600; }
    section#how .block2 .line3 span, section#how .block3 .line3 span {
      font-size: 24px; }
section#landing {
  height: 400px; }
  @media (max-width: 1199px) {
    section#landing {
      display: none; } }
  @media (max-width: 767px) {
    section#landing {
      height: 500px; } }
  @media (max-width: 991px) {
    section#landing .container-fluid [class*='col-'] {
      margin: 10px 0 10px; } }
  section#landing .container-fluid [class*='col-'] a {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 10px solid #09E0FF;
    color: #000;
    white-space: pre-wrap; }
    section#landing .container-fluid [class*='col-'] a:hover {
      text-decoration: none;
      background: lightcyan; }
    section#landing .container-fluid [class*='col-'] a:focus {
      outline: none !important; }
    section#landing .container-fluid [class*='col-'] a p {
      font-size: 20px; }
section.map {
  padding-top: 80px; }
  section.map #map-container {
    height: 100%;
    width: 100%; }

footer {
  height: 60px;
  background: #09E0FF; }

#id_modal_thankyou .modal-content {
  background: #09E0FF; }
  #id_modal_thankyou .modal-content .line1 {
    margin-bottom: 20px; }
    #id_modal_thankyou .modal-content .line1 h3 {
      color: #FFF;
      margin: 0; }
    #id_modal_thankyou .modal-content .line1 img {
      max-width: 100%;
      max-height: 100px; }
  #id_modal_thankyou .modal-content .line2 {
    margin-bottom: 20px; }
  #id_modal_thankyou .modal-content .line3 ul {
    padding-left: 0; }
    #id_modal_thankyou .modal-content .line3 ul li {
      margin: 5px 0 5px;
      display: inline-block; }
      #id_modal_thankyou .modal-content .line3 ul li img {
        max-height: 30px;
        max-width: 100%; }

.no-padding {
  padding-right: 0;
  padding-left: 0; }
  .no-padding > [class*='col-'] {
    padding-right: 0;
    padding-left: 0; }

.no-border-radius {
  border-radius: 0; }

.no-border {
  border-width: 0; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.icon-labels {
  color: black;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 70px;
  white-space: nowrap; }

.font-js {
  font-family: Josefin Sans;
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  font-weight: 500; }

.font-m {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*# sourceMappingURL=style.css.map */
